<div class="container">
    <h1 class="text-dark text-center weight-bold mt-3">
        Welcome to link bay
    </h1>
    <h6 class="text-gray text-center mt-5">
        Imagine you wanted to learn something new, you would seach on google for the best book or videos or links to learn you new skill. 
    </h6>
    <h6 class="text-gray text-center mt-5">
        You would probably find many links, each of them suggesting a best course of action, each of them suggesting very different approaches about this.
    </h6>
    <h6 class="text-gray text-center mt-5">
        Suppose that you've tried many of these approaches and found that the first link's page and the fourth link's youtube tutorial were a good combination to learn what you wanted to understand. If you could share those two links, someone who wanted to learn the same as you would't have to scavange for the best resources like you did, if you could just find a way to tell them what you know.
    </h6>
    <h6 class="text-gray text-center mt-5">
        Suppose that you have to learn something fast, and you need the best resources without having to ask for someone's guidance, going out on the internet asking questions on forums nor take some shady link advice.
    </h6>
    <h6 class="text-gray text-center mt-5">
        Suppose that you want to find the best free content out there about a given topic, how can you determine what is best without having to go through all materials and rank them by yourself?
    </h6>
    <h6 class="text-gray text-center mt-5">
        Suppose that you wanted a community of learners, like you, that shares about their experiences of going out on the internet trying to understand new topics.
    </h6>
    <h5 class="text-gray text-center mt-5">
        We can help you with all of these.
    </h5>
    <h6 class="text-gray text-center mt-5">
        As the title suggests, our website has a simple intent: make learning easier, by matching people who know about diverse topics and let them put out their experiences. Everyone can vote on any post made and users rank what works best for them.
    </h6>
    <h6 class="text-gray text-center mt-5">
        Posts on this website have a single purpose: to link users with the best content out there for their needs.
    </h6>
    <div class="container text-center mb-3 mt-3">
        <a class="text-gray text-center mt-5 mb-5" href="/signup">
            Sign up!
        </a>
    </div>
    <div class="container text-center mb-4">
        <a href="/" class="">Home page</a>
    </div>
</div>