<div class="container text-center col-sm-4">
    <h1 class="mb-4">Log in</h1>

    <%= bootstrap_form_for @user do |f| %>
        <%= f.text_field :name, label: 'Name' %>
        <%= f.text_field :email %>
        <%= f.text_field :user_nick, label: 'Nickname' %>
        <%= f.text_field :image, label: 'Image URL' %>
        <% if current_user.id == @user.id %>
            <%= f.password_field :password %>
        <% end %>
        <% if current_user and current_user.admin? %>
            <%= f.check_box :admin, label: 'Turn into admin' %>
            <br>
        <% end %>
        <%= f.submit "Update", class: "btn btn-primary mb-3 mt-3" %>
    <% end %>
    
    <%= link_to 'Home', root_path %>
</div>