
<div class="container text-center">
    <h3>Users</h3>
    <p><b>This is a admin-only, if you shouldn't be seeing this and is a good person, shoot us an email at renatomwbbritto@gmail.com</b></p>
    
    <div class="container w-75">
    <% @users.each do |user| %>
        <div class="row">
            <p class="w-25">
                <%= user.email %> / <%= user.user_nick %>
            </p>            <%= link_to 'User profile', user, class: "col" %>
            <%= link_to 'Edit user', edit_user_path(user), class: "col" %>
            <%= link_to 'Delete account', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "col"  %>
            <div class="divider"></div>
        </div>
    <% end %>
    </div>

    <br>

    <%= link_to 'Home', root_path %>
</div>
