<div class="container">

        <div class="dropdown text-center mt-3 mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                <% Category.all.each do |category| %>
                    <a class="dropdown-item" href="?category=<%= category.id %>"><%= category.name %></a>
                <% end %>
            </div>
        </div>

        <% @posts.each do |post|  %>

            <div class="card mb-3">
                <div class="row no-gutters">

                    <% if !post.image.nil? %>                   
                        <div class="col-md-4">
                            <img src="<%= post.image %>" class="card-img" alt="...">
                        </div>
                    <% end %>

                    <div class="col-md-8">
                    <div class="card-body">
                        <a href="posts/<%= post.id %>" class="card-title"><%= post.title %>
                        </a>
                        <p class="card-text"><%= post.description %></p>
                        <p class="card-text"><small class="text-muted">3 meses</small></p>
                    </div>
                    </div>
                </div>
            </div>
    
        <% end %>

        <div class="container ">
            <ul class="pagination center">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
        </div>

</div>


<div class="container-fluid footer-navbar color-dark-clean-blue">
    <div class="row">
        <%= link_to "Learn more", "/about", class: "col text-left text-secondary" %>
        <small class="col text-secondary text-right col-10 d-sm-block d-none d-xl-block"><%= inspirational_quote %></small>
    </div>
</div>