<div class="container text-center">
    <h1><%= @post.title %></h1>
    <h4 class="text-secondary mt-3">
        <%= @post.description %>
    </h4>
    <p class="mt-4">
        <%= @post.content %>
    </p>
</div>
<div class="container mt-5 row center">
    <%= button_to '+1' , method: :post %>
    
</div>
<div class="container text-center mt-5">
    
    <%= link_to 'Home', root_path %>
</div>
