<!DOCTYPE html>
<html>
  <head>
    <title>Link Bay</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="">
    <div class="page-container">

        <nav class="navbar navbar-expand-lg navbar-light color-dark-clean-blue" style="font-family:sans-serif">
            <a class="navbar-brand text-light font-weight-bold" href="/posts">LINK BAY</a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                <% if current_user %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="users/<%= current_user[:id] %>">Logged as: <%= current_user[:user_nick] %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/logout">Log out</a>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/signup">Sign up</a>
                    </li>
                <% end %>
                <li class="nav-item">
                    <a class="font-color-light nav-link text-light" href="/posts/new">Create new tutorial</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 text-light" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container text-center mt-3">
            <% if flash[:warning] %>
                <div class="alert alert-danger" role="alert">
                    <%= flash[:warning] %>
                </div>
            <% elsif flash[:success] %>
                <div class="alert alert-success" role="alert">
                    <%= flash[:success] %>
                </div>
            <% end %>
        </div>
        
        <%= yield %>

    </div>
  </body>
</html>
